/**
* @prettier
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
	background-color: #f0ffff;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.main-body {
	background-color: #f0ffff;
	margin: 0 auto;
	width: 98vw;
	height: 90vh;
	display: flex;
}

.code-input {
	/* background-color: #fff5ee; */
	width: 24%;
	margin-right: 1%;
	/* border: 3px solid black; */
}

.text-area {
	padding: 0.5%;
	width: 98%;
	height: 99.25%;
	background-color: #fff5ee;
	border: 3px solid black;
	overflow: scroll;
	font-size: 1.5rem;
	font-family: 'Fira Code', monospace;
}

.visualizer-console {
	width: 75%;
	display: flex;
	flex-flow: column;
}

.visualizer {
	background-color: #fff5ee;
	height: 69%;
	margin-bottom: 1%;
	border: 3px solid black;
}

.console {
	background-color: #fff5ee;
	height: 30%;
	border: 3px solid black;
}
